<div class="card text-center p-2 m-3 card-elements card-basic" style="width: 20rem">
   <a href="recipe/{{this.recipe_id}}" target="_blank" class="card-body mx-auto card-basic">
    <img src={{this.image}} class="card-img-top" alt={{this.dish_name}} />
    <h5 class="card-title text-center pt-4">{{this.dish_name}}</h5>
  </a>
</div>