{{#if loggedIn}} 
  {{>private-nav}}  
{{else}}
  {{>public-nav}}
{{/if}}

<main>
  <section class="search-results ">
    {{#if loggedIn}} {{>private-searchbar}} {{else}} {{>public-searchbar}}
    {{/if}}
    <div>
      <h1 class="main-header-style text-center mb-3">Recipe Search Results</h1>
    </div>

    <div class="d-flex flex-wrap justify-content-around pb-20"> 
      {{#each recipeData}}
             {{> recipe-card}}
      {{/each}}
    </div>


    <div class="d-grid gap-2 col-6 mx-auto m-5">
      <button
        class="btn primary-button"
        type="button"
        id="renderMoreResults"
        data-requesturl = {{requestUrl}}
      >
        Render more results
      </button>
    </div>
  </section>
</main>


